@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: red;
  --background-start-rgb: red;
  --background-end-rgb: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: red;
    --background-start-rgb: red;
    --background-end-rgb: red;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gallery{
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.gallery .pics {
  width: 100%; /* Adjust width for desired thumbnail size */
  height: 200px; /* Set a fixed height for consistency */
  cursor: pointer;
  margin-bottom: 12px;
  overflow: hidden; /* Ensure images do not overflow */
}

.gallery .pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.model img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Adjust as needed */
}


/* @media(max-width:991px){
  .gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
 
  }
}



@media(max-width:480px){
  .gallery{
    -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
 
  }
} */

.model{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  z-index: 999;
  transition: opacity .4s ease  visibility .4s ease transform .4s ease-in-out;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px ;
  margin: 0 auto ;
}

/* Founder.module.css */
.container {
  text-align: center;
}

.imageRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainer {
  margin: 10px;
  flex: 1 0 30%;
  max-width: 30%;
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
}

.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* styles/GridComponent.module.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.grid-item h2 {
  margin-bottom: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}




/* CSS */
@keyframes rainbow {
  0% {
    color: #ff0000; /* red */
  }
  14% {
    color: #ff7f00; /* orange */
  }
  28% {
    color: #ffff00; /* yellow */
  }
  42% {
    color: #00ff00; /* green */
  }
  57% {
    color: #0000ff; /* blue */
  }
  71% {
    color: #4b0082; /* indigo */
  }
  85% {
    color: #9400d3; /* violet */
  }
  100% {
    color: #ff0000; /* red */
  }
}



.rainbow-text {
  background-image: linear-gradient(to right, red, rgb(53, 35, 3), rgb(99, 99, 11), green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  animation: moveText 5s infinite linear;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(70px);
  }
}


.facilities{
  border-radius: 20px;
}


 /* added header css in activities */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 5s infinite;
}


/* MenuOverlay.css */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #d19cf7; /* bg-sky-100 */
}

.menu-overlay li {
  opacity: 0; /* Start hidden */
  animation: slideIn 0.5s ease-out forwards;
}

.logo{
  border-radius: 20px;
}


