@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Gallery.css */
.model {
  display: none;
}

.model.open {
  display: flex;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Adjust the gap as needed */
}

.pics {
  overflow: hidden;
  border-radius: 8px; /* Optional: adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}

.pics img {
  transition: transform 0.3s ease;
}

.pics:hover img {
  transform: scale(1.05);
}


/* Founder.module.css */
.container {
  text-align: center;
}

.imageRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainer {
  margin: 10px;
  flex: 1 0 30%;
  max-width: 30%;
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
}

.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* styles/GridComponent.module.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.grid-item h2 {
  margin-bottom: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


